<template>
    <article :id="`post-${property.ID}`" :class="`property-${property.ID} properties type-properties status-publish has-post-thumbnail entry entry`">

        <figure class="property-thumbnail">
            <a class="property-thumbnail-inner" :href="property.guid" aria-hidden="true" tabindex="-1" v-html="property.meta.featured_images.full"></a>
        </figure>

        <div class="property-details">

            <h2 class="property-title">
                <a :href="property.guid" rel="bookmark">
                    {{ property.post_title }} (£{{ property.meta.price + (property.meta.sale_rent === 'rent' ? ' per week' : '') }})
                </a>
            </h2>

            <div class="property-content">
                <p v-html="content"></p>
                <a :href="googleMaps" target="_blank">View on Google Maps</a>
            </div>

        </div>

    </article><!-- #post-${ID} -->
</template>

<script>
    export default {
        props: {
            property: {require: true, type: Object}
        },

        computed: {
            latitude() {

                if (!this.property.meta.hasOwnProperty('latitude'))
                    return null;


                return this.property.meta.latitude;

            },
            longitude() {


                if (!this.property.meta.hasOwnProperty('longitude'))
                    return null;


                return this.property.meta.longitude;

            },
            googleMaps() {

                if (!this.latitude || !this.longitude)
                    return false;

                return `https://maps.google.com/?q=${this.latitude},${this.longitude}`


            },
            content() {

                if (this.property.post_content.length > 200) {
                    return this.property.post_content.substr(0, 200) + '...';
                }

                return this.property.post_content;
            }
        }
    }
</script>