<template>
    <div>
        <div class="entry">
            <h1 class="entry-header">Filter Properties</h1>
            <form class="entry-content" @submit.prevent="searchProperties">
                <input type="text" v-model="search.name" placeholder="Search by Address">
                <input type="number" v-model="search.price" placeholder="Filter by Maximum Value">
                <select v-model="search.sale_rent" id="rent_sale">
                    <option value="rent">For Rent</option>
                    <option value="sale">For sale</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
        <property v-for="property in properties" :property="property" :key="`property-${property.ID}`"></property>
        <button class="load-more-btn" v-if="pagination.canLoadMore" :disabled="pagination.loading"
                @click.prevent="loadMore">{{ pagination.loading ? 'Loading...' : 'Load More'}}
        </button>
    </div>
</template>
<script>
    export default {

        components: {
            'property': require('./Property').default
        },

        data() {
            return {
                search: {
                    name: null,
                    price: null,
                    sale_rent: 'rent',
                },
                properties: [],
                pagination: {
                    page: 1,
                    canLoadMore: true,
                    loading: false,
                }
            }
        },

        mounted() {

            this.loadMore();

        },

        methods: {

            searchProperties() {
                this.pagination.page = 1;
                this.properties = [];
                this.loadMore();
            },

            loadMore() {

                this.pagination.loading = true;

                axios.get('/index.php/wp-json/mtc-zoopla-integration/v1/properties', {
                    params: {
                        limit: 10,
                        page: this.pagination.page,
                        name: this.search.name,
                        price: this.search.price,
                        sale_rent: this.search.sale_rent,
                    }
                }).then(response => {

                    this.pagination.loading = false;

                    this.properties = this.properties.concat(response.data.data);

                    if (response.data.data.length < 10) {
                        this.pagination.canLoadMore = false;
                    }

                    this.pagination.page++;

                }).catch(error => {

                    this.pagination.loading = false;

                    console.warn(error);

                });
            }
        }

    }
</script>
<style>

</style>