/*
 * Theme Name: MTC Zoopla
 * Description: Testing Property Types.
 * Template: twentynineteen
 * Text Domain: twentynineteen-child
 */


article.properties {
    /*max-width: 900px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 0;*/
    display: flex;
}


@media only screen and (min-width: 768px) {
    article.properties {
        margin: calc(3 * 1rem) calc(10% + 60px) calc(1rem / 2);
    }
}

article.properties .property-title {
    font-size: 1rem;
}

article.properties .property-content p {
    font-size: 0.8rem;
    line-height: 1rem;
}

.load-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

article.properties .property-thumbnail {
    min-width: 320px;
    margin-right: 2rem;
    margin-top: 2rem;
}